@font-face {
    font-family: Ahganirya;
    src: url(/font/Ahganirya.ttf.ttf);
}
@font-face {
    font-family: Madfool;
    src: url(/font/Madfool.ttf.ttf);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #E5E7F0;
}

::-webkit-scrollbar-thumb {
    background: #001f58;
}

::-webkit-scrollbar-thumb:hover {
    background: #040323;
}

body {
    background-color: #FAF9F9;
    width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    height: 100%;
    width: 100%;
    right: 0;

    .front {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        width: 100vw;
        right: 0;
        left: 0;
        height: 100vh;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 80% 20%;
        }

        .front-content {
            position: absolute;
            left: 0;
            height: 100%;
            width: 100%;
        }

        .titles {
            padding-left: 11.5%;

            position: relative;
            top: 75%;
            color: #E5E7F0;

            .all-titles {
                position: absolute;
                max-width: 100%;
            }
            .title-proff {

                width: 100%;
                line-height: 80%;

                font-family: "Madfool";

                font-size: clamp(125px, calc(15vw + 5vh), 200px);          

                h1 {
                    margin: 0;
                    padding: 0;

                    font-weight: 500;
                    font-size: inherit;
                }
            }
        }
    }

    .web-content {

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        margin-left: 10%;
        margin-right: 10%;
        background-color: #E5E7F0;
        padding-bottom: 50px;

        transition: filter 0.5s ease-in-out;

    }    
}

main.blur {
    filter: blur(4px);
}

@media (max-width: 1420px) {
    main {
    
        .web-content {
    
            .websites {
        
                .web1, .web3 {        
                    margin-right: 5%;
                    margin-left: 0%;
                }
        
                .web-text {
                    width: 100%;
                    margin-left: 2.5%;
                }
        
                .slideshow-elements {
                    margin-top: 50px;
                    width: 100%;
                    margin-left: 0;
                    margin-right: 0;
                    
                    .slideshow-main {
                        width: 95%;

                        img {
                            width: 98.5%;
                        }

                        .arrows {    
                            .left, .right {
                                position: absolute;
        
                                i {         
                                    height: 25px;
                                    width: 25px;
                                }
                            }
                        }

                        .desc {
                            top: 96.5%;
                        }
                    }
        
                    .slideshow-images {
                        width: 95%;
                    }
        
                    .web-redirec2 {
                        width: 100%;
                    }
                }
        
                .web2 {        
                    margin-left: 0%;
                    margin-right: 5%;
                }
            }
        }    
    }  
}

@media (max-width: 1300px) {
    .zoomed-image-container {
    
        img {
            max-width: 85%;
        }
        
    }
}

@media (max-width: 950px) {
    main {
        .web-content {
            .websites {
                .slideshow-elements {
                    
                    .slideshow-main {

                        .desc {
                            top: 95%;
                            bottom: 0;
                            position: absolute;
                            width: 100%;
                            height: 20px;
        
                            p {
                                width: 175px;
                                height: 20px;
                                font-size: 12px;
                            }
        
                        }
        
                    }
                }
            }
        }  
    }
}

@media (max-width: 800px) {
    .zoomed-image-container {
    
        img {
            max-width: 80%;
        }
        
    }
}

@media (max-width: 750px) {
    main {
        height: 100%;
        width: 100%;
        right: 0;
        padding: 0;
        margin: 0;

        .front {
            .front-content {
                .titles {
                    .all-titles{
                        .title-name {
                            font-size: 13px;
                        }

                        .title-work {
                            font-size: 7px;
                        }
                    }
                }
            }
        }

        .web-content {
            margin-left: 7%;
            margin-right: 7%;
            .websites {
                .slideshow-elements {

                    margin-top: 25px;
                    
                    .slideshow-main {

                        img {
                            width: 98%;
                        }

                        .arrows {    
                            .left, .right {
        
                                i {         
                                    height: 20px;
                                    width: 20px;

                                    font-size: 15px;
                                }
                            }
                        }

                        .desc {
                            top: 95%;
                        }
        
                        .progress {
                            font-size: 8px;
                        }
                    }
                }
            }
        }  
    }
}

@media (max-width: 575px) {
    main {
        .web-content {
            .websites {
                .slideshow-elements {
                    
                    .slideshow-main {

                        width: 85%;

                        .desc {
                            top: 94%;
        
                        }
        
                    }

                    .slideshow-images {
                        width: 85%;
                    }
                }
            }
        } 
    }

    .zoomed-image-container {
    
        img {
            max-width: 75%;
        }
        
    }
}

