header {
    position: fixed;
    right: 0;
    left: 0;
    width: 175px;
    height: 100vh;
    top: 0;

    z-index: 999;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;

    .fillout {
        width: 75px;
        height: 100%;
        background-color: #423B80;
    }
}

#blob {
    position: absolute;
    left: 0;
    width: 125px;
    height: 100vh;
    margin-left: 75px;
    top: 0;

    fill: #423B80;
    box-shadow: 1px 1px 10px 1px rgba(33, 56, 1, 0.189);
    z-index: 990;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);;
    z-index: 991;
    width: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 25%;
    margin-left: 0px;
    padding-left: 0px;
}

.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    gap: 50px;

    li {
        list-style: none;

        a {
            color: #E5E7F0;
            font-size: 20px; 
            text-decoration: none;
            padding-left: 5px;

            &:hover {
                border-left: solid 2px white;
                margin-left: 10px;
                transition: 0.25s;
            }
        } 

        .active {
            border-left: solid 2px white;
            margin-left: 10px;
            transition: 0.25s;  
        }
    }
}

/*
.hamburger {
    display: none;
    position: relative;
    width: 30px;
    height: 4px;
    background: black;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.25s;

}

.hamburger:before, .hamburger:after {
    content: '';
    position: absolute;
    height: 4px;
    background: black;
    border-radius: 10px;
    transition: 0.25s;
}

.hamburger:before {
    top: -10px;
    width: 30px;
}

.hamburger:after {
    top: 10px;
    width: 30px;
}

.hamburger-menu {
    display: none;
}

input.hamburger-menu {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
    right: 13.1%;
    opacity: 0;
    cursor: pointer;
}

input.hamburger-menu:checked + .hamburger {
    background: transparent;
}

input.hamburger-menu:checked + .hamburger:before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

input.hamburger-menu:checked + .hamburger:after {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}

input.hamburger-menu:checked ~ .menu {
    right: 0;
}


/*
header {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 90px;
    backdrop-filter: blur(20px);
    background-color: rgba(250, 249, 249, 0.050);
    box-shadow: 1px 1px 10px 1px rgba(33, 56, 1, 0.189);
    z-index: 999;
}

nav {
    margin-left: 11.5%;
    margin-right: 13.5%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a {
        text-decoration: none;
        height: 50px;

        display: flex;
        align-items: center;

        img {
            height: 100%;
            object-fit: contain;
            background-color: #fdfff4;
            padding: 5px;
            border-radius: 5px;
            border-style: double;
        }
    }
}

.menu {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5%;

    li {
        list-style: none;

        a {
            color: black;
            font-size: 20px; 
            text-decoration: none;
            padding: 5px;
            border-radius: 5px;
            border-style: double;
            border-color: rgba(0, 0, 0, 0);
            
            &:hover {
                background-color: #fdfff4;
                transition: 0.25s;
                border-color: black;
            }
        } 

        .active {
            background-color: #fdfff4;
            border-color: rgb(0, 0, 0);
            
            &:hover {
                background-color: rgba(14, 176, 49, 0.348);
                transition: 0.25s;
            }
        }
    }

}

.hamburger {
    display: none;
    position: relative;
    width: 30px;
    height: 4px;
    background: black;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.25s;

}

.hamburger:before, .hamburger:after {
    content: '';
    position: absolute;
    height: 4px;
    background: black;
    border-radius: 10px;
    transition: 0.25s;
}

.hamburger:before {
    top: -10px;
    width: 30px;
}

.hamburger:after {
    top: 10px;
    width: 30px;
}

.hamburger-menu {
    display: none;
}

input.hamburger-menu {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
    right: 13.1%;
    opacity: 0;
    cursor: pointer;
}

input.hamburger-menu:checked + .hamburger {
    background: transparent;
}

input.hamburger-menu:checked + .hamburger:before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

input.hamburger-menu:checked + .hamburger:after {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}

input.hamburger-menu:checked ~ .menu {
    right: 0;
}

@media (max-width: 850px) {
    header {
        padding: 10px 0;
        height: 65px;
    }

    .hamburger, .hamburger-menu {
        display: block;
    }

    .menu {
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 68px;
        right: -400px;
        background-color: rgba(255, 255, 255, 0.9);
        width: 300px;
        height: 100vh;
        padding-left: 0;
        transition: 0.5s;
    }

    .menu li {
        margin-top: 50px;
        width: 100%;
    }

    .menu li a {
        padding: 30px;
        font-size: 24px;
        font-weight: bold;
    }

    input.hamburger-menu:checked ~ .menu {
        right: 0;
    }
}