header {
    position: fixed;
    left: 0;
    width: 115px;
    height: 100vh;
    top: 0;

    z-index: 1000;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    background-color: #6D6BC7;
    background-position: 50%;

    transition: 0.25s;


    nav {
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translate(-50%, -50%);;
        z-index: 991;
        width: 100px;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 25%;
        margin-left: 0px;
        padding-left: 0px;
    
        .menu {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100px;
            gap: 50px;
        
            li {
                list-style: none;
        
                a {
                    color: #E5E7F0;
                    font-size: 20px; 
                    text-decoration: none;
                    padding-left: 5px;
                    font-weight: bold;
        
                    &:hover {
                        border-left: solid 2px white;
                        margin-left: 10px;
                        transition: 0.25s;
                    }
                } 
        
                .active {
                    border-left: solid 2px white;
                    margin-left: 10px;
                    transition: 0.25s;  
                }
            }
        }
    }
}

header.hidden {
    transform: translateX(-100%);
}

.toggle-icon {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #6D6BC7;
    color: #E5E7F0;
    border-radius: 0% 99% 99% 0%;
    cursor: pointer;
    height: 35px;
    padding: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-size: 20px;
    transition: left 0.1s ease;
    
}

.toggle-icon.show {
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.25s;
}

@media (max-width: 1000px) {

    header::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(/Media/swirly-picture.webp);
        background-position: center;
        background-size: cover;
        opacity: 5%;
        z-index: -1; 
    }
}



/*

header {
    position: fixed;
    right: 0;
    left: 0;
    width: 175px;
    height: 100vh;
    top: 0;

    z-index: 999;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;

    .fillout {
        width: 75px;
        height: 100%;
        background-color: #423B80;
    }
}

#blob {
    position: absolute;
    left: 0;
    width: 125px;
    height: 100vh;
    margin-left: 75px;
    top: 0;

    fill: #423B80;
    box-shadow: 1px 1px 10px 1px rgba(33, 56, 1, 0.189);
    z-index: 990;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);;
    z-index: 991;
    width: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 25%;
    margin-left: 0px;
    padding-left: 0px;
}

.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    gap: 50px;

    li {
        list-style: none;

        a {
            color: #E5E7F0;
            font-size: 20px; 
            text-decoration: none;
            padding-left: 5px;

            &:hover {
                border-left: solid 2px white;
                margin-left: 10px;
                transition: 0.25s;
            }
        } 

        .active {
            border-left: solid 2px white;
            margin-left: 10px;
            transition: 0.25s;  
        }
    }
}

@media (max-width: 750px) {
    header {
        display: none;
    }

}