body {
    background-color: #fdfff4;
    width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

main {
    margin-left: 10%;
    margin-right: 10%;
    background-color: beige;
    height: 100%;
    padding-bottom: 50px;
    
    .websites {
        height: 100%;
        width: 93%;
        padding-top: 50px;

        .web1, .web3 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;
            width: 100%;
            padding-top: 75px;
            padding-bottom: 75px;

            aspect-ratio: 16:9;

            margin-right: 5%;
            margin-left: 2.5%;
        }

        .web-text {
            width: 30%;
            min-width: 325px;
            margin-right: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            .web-title {
                h3 {
                    font-size: clamp(20px, calc(2.5vw + 0.9vh), 45px);          
                    margin: 0;

                    a {
                        color: black;
                        text-decoration: none;
                        border-bottom: solid black 1px;
                    }
                }

                span {
                    font-style: italic;
                    font-size: clamp(15px, calc(2.5vw + 0.9vh), 25px);          
                    margin-top: 5px;
                    margin-left: 5px;
                }
            }

            .textbox {
                margin-top: 50px;
                font-size: clamp(10px, calc(2.5vw + 0.9vh), 17px);          
                margin-bottom: 0px;

                span {
                    margin-right: 5px;
                    font-weight: bold;
                }

                .web-redirec {

                    margin-top: 10%;

                    p {
                        margin-bottom: 2.5%;
                    }

                    .web-links {
                        display: flex;
                        flex-direction: column;
                        gap: 1.5%;

                        i {
                            margin-right: 0.5%;
                        }
                    }
                }
            }

        }

        .slideshow-elements {

            width: 62.5%;
            height: 100%;

            .slideshow-main {

                position: relative;
                margin-bottom: 20px;
                width: 100%;
                height: auto;
                max-height: 100%;
                left: 0;

                img {
                    width: 100%;
                    height: 100%;
                    overflow-x: auto;
                    overflow-x: hidden;

                    border-radius: 2.5px;
                    object-fit: cover;
                    margin: 0px;
                    padding: 5px;
                    background-color: white;
                    box-shadow: 1px 1px 10px 1px rgba(33, 56, 1, 0.189);
                }

                .arrows {
                    position: absolute;
                    top: 50%;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .left, .right {
                        position: absolute;

                        i {
                            background-color: rgb(255, 255, 255);
                            font-size: 25px;
                            padding: 5px;
                            border-radius: 99px;
                            cursor: pointer;
                            box-shadow: 1px 1px 10px 1px rgba(33, 56, 1, 0.189);

                            &:hover {
                                transition: 0.25s;
                                transform: scale(1.15);
                            }
                        }
                    }

                    .left {
                        right: 102%;
                    }

                    .right {
                        left: 103%;
                    }
                }

                .desc {

                    position: absolute;
                    top: 95%;
                    width: 100%;
                    height: 25px;

                    display: flex;
                    justify-content: center;
                    padding-top: 0px;
                    margin-top: 0px;
                    border-radius: 0px 0px 99px 99px;
                    text-align: center;

                    p {
                        width: 200px;
                        height: 25px;
                        background-color: white;
                        box-shadow: 1px 1px 10px 1px rgba(33, 56, 1, 0.189);
                        font-size: clamp(7px, calc(2.5vw + 0.9vh), 15px);          

                        height: 100%;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 0px 0px 99px 99px;
                    }

                }

                .progress {
                    position: absolute;
                    background-color: white;
                    font-size: 15px;
                    padding-left: 5px;
                    padding-right: 10px;
                    padding-bottom: 10px;
                    padding-top: 5px;
                    border-radius: 0px 0px 25px 0px;
                    box-shadow: 1px 1px 10px 1px rgba(33, 56, 1, 0.189);
                }

            }

            .slideshow-images {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                justify-content: center;
                gap: 20px;
                margin-top: 45px;
                width: 100%;

                .slideshow-image {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #fdfff4;
                    box-shadow: 1px 1px 10px 1px rgba(33, 56, 1, 0.189);
                    padding: 2.5px;
                    border-radius: 5px;
                    

                    img {
                        width: 100%;
                        border-radius: 2.5px;
                        object-fit: contain;
                    }

                    .desc {
                        display: none;
                    }
                }
            }
        }

        .web2 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: self-start;
            flex-wrap: wrap-reverse;
            background-color: rgb(251, 251, 235);
            gap: 20px;
            width: 100%;
            padding-top: 75px;
            padding-bottom: 75px;

            aspect-ratio: 16:9;

            margin-left: 5%;
            margin-right: 2.5%;
        }
    }
}

@media (max-width: 1325px) {
    main {
        
        .websites {
        
            .web-text {
                width: 100%;
            }
    
            .slideshow-elements {

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
    
                width: 100%;

                .slideshow-main {

                    width: 90%;

                    .desc {
                        margin-top: -5px;
                    }
    
                }

                .slideshow-images {
                    margin-top: 25px;
                    width: 90%;
                    gap: 10px;
                }
    
            }
        }
    }   
}