@font-face {
    font-family: Ahganirya;
    src: url(/font/Ahganirya.ttf.ttf);
}
@font-face {
    font-family: Madfool;
    src: url(/font/Madfool.ttf.ttf);
}

body {
    background-color: #FAF9F9;
    width: 100% - 125px;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    margin-left: 125px;
}

main {
    height: 100%;
    width: 100%;

    .front {

        top: 0;
        background-image: url(/Media/swirly-picture.webp);
        background-size: cover;
        background-position: bottom right;
        width: 100%;
        height: 100vh;

        .front-content {
            left: 0;
            height: 100%;
            width: 100%;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.248), rgba(0, 0, 0, 0.600));
        }

        .titles {
            padding-left: 11.5%;
            padding-right: 13%;

            position: absolute;
            top: 55%;
            width: 510px;

            color: #E5E7F0;

            .title-name {
                font-size: 20px;
                    
                margin-top: 0px;
                padding-top: 0px;
                margin-bottom: 10px;
                padding-bottom: 0px;

                font-family: "Ahganirya";
                font-weight: 100;
                margin-bottom: 20px;
                margin-left: 2.5px;
            }

            .title-proff {

                font-size: 200px;
                line-height: 215px;

                font-family: "Madfool";

                h1 {

                    margin-top: 0px;
                    padding-top: 0px;
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                    font-weight: 500;
                }
            }

            .title-work {
                margin-top: -30px;
                padding-top: 0px;
                margin-bottom: 0px;
                padding-bottom: 0px;
                text-align: end;

                font-family: "Ahganirya";
                font-weight: 100;
                font-size: 13px;
            }
        }
    }

    .web-content {

        margin-left: 10%;
        margin-right: 10%;
        background-color: #E5E7F0;
        padding-bottom: 50px;

        .websites {
            height: 100%;
            width: 93%;
            padding-top: 50px;

            h2 {
             font-size: 50px;
             margin-left: 2.5%;
             font-family: "Ahganirya";
             color: #040323;
             position: absolute;
             left: 10000%;

            }
    
            .web1, .web3 {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 20px;
                width: 100%;
                padding-top: 75px;
                padding-bottom: 75px;
    
                margin-right: 5%;
                margin-left: 2.5%;
            }
    
            .web-text {
                width: 30%;
                min-width: 325px;
                margin-right: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
    
                .web-title {
                    h3 {
                        font-size: clamp(15px, calc(2.5vw + 0.9vh), 25px);          
                        margin: 0;
                        font-family: "Ahganirya";
    
                        a {
                            color: #040323;
                            text-decoration: none;
                            border-bottom: solid #040323 1px;
                        }
                    }
    
                    span {
                        font-style: italic;
                        font-size: clamp(15px, calc(2.5vw + 0.9vh), 25px);          
                        margin-top: 5px;
                        margin-left: 5px;
                    }
                }
    
                .textbox {

                    color: #040323;
                    margin-top: 50px;
                    font-size: clamp(10px, calc(2.5vw + 0.9vh), 17px);          
                    margin-bottom: 0px;
    
                    span {
                        margin-right: 5px;
                        font-weight: bold;
                    }
    
                    .web-redirec1 {
    
                        margin-top: 10%;
    
                        p {
                            margin-bottom: 2.5%;
                        }
    
                        .web-links {
                            display: flex;
                            flex-direction: column;
                            gap: 1.5%;
    
                            i {
                                margin-right: 0.5%;
                            }
                        }
                    }
                }
    
            }
    
            .slideshow-elements {
    
                width: 62.5%;
                height: 100%;
    
                .slideshow-main {
    
                    position: relative;
                    margin-bottom: 20px;
                    width: 100%;
                    height: auto;
                    max-height: 100%;
                    left: 0;
    
                    transition: opacity 0.25s ease-in-out;
                    opacity: 1;
    
                    img {
                        width: 100%;
                        height: 100%;
                        overflow-x: auto;
                        overflow-x: hidden;
    
                        border-radius: 2.5px;
                        object-fit: cover;
                        margin: 0px;
                        padding: 5px;
                        background-color: white;
                        box-shadow: 1px 1px 10px 1px rgba(4, 3, 35, 0.189);
                    }
    
                    .arrows {
                        position: absolute;
                        top: 50%;
                        width: 100%;
                        margin: 0;
                        padding: 0;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
    
                        .left, .right {
                            position: absolute;
    
                            i {
                                display: flex;
                                justify-content: center;
                                align-items: center;
    
                                background-color: rgb(255, 255, 255);
                                font-size: clamp(10px, calc(2.5vw + 0.9vh), 25px);          
                                height: 30px;
                                width: 30px;
                                border-radius: 99px;
                                cursor: pointer;
                                box-shadow: 1px 1px 10px 1px rgba(4, 3, 35, 0.189);
    
                                &:hover {
                                    transition: 0.25s;
                                    transform: scale(1.15);
                                }
                            }
                        }
    
                        .left {
                            right: 101.5%;
                        }
    
                        .right {
                            left: 102.5%;
                        }
                    }
    
                    .desc {
    
                        position: absolute;
                        top: 95%;
                        width: 100%;
                        height: 25px;
    
                        display: flex;
                        justify-content: center;
                        padding-top: 0px;
                        margin-top: 0px;
                        border-radius: 0px 0px 99px 99px;
                        text-align: center;
    
                        p {
                            width: 200px;
                            height: 25px;
                            background-color: white;
                            box-shadow: 1px 1px 10px 1px rgba(4, 3, 35, 0.189);
                            font-size: clamp(7px, calc(2.5vw + 0.9vh), 15px);          
    
                            height: 100%;
    
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 0px 0px 99px 99px;
                        }
    
                    }
    
                    .progress {
                        position: absolute;
                        background-color: white;
                        font-size: 15px;
                        padding-left: 5px;
                        padding-right: 10px;
                        padding-bottom: 10px;
                        padding-top: 5px;
                        border-radius: 0px 0px 25px 0px;
                        box-shadow: 1px 1px 10px 1px rgba(4, 3, 35, 0.189);
                    }
    
                }
    
                .slideshow-images {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    margin-top: 45px;
                    width: 100%;
    
                    transition: transform 0.25s ease;
    
                    .slideshow-image {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #fdfff4;
                        box-shadow: 1px 1px 10px 1px rgba(4, 3, 35, 0.189);
                        padding: 2.5px;
                        border-radius: 5px;
                        
    
                        img {
                            width: 100%;
                            border-radius: 2.5px;
                            object-fit: contain;
                        }
    
                        .desc {
                            display: none;
                        }
                    }
                }
    
                .web-redirec2 {
                    display: none;
                    flex-direction: column;
                    gap: 15px;
                    width: 100%;
                    margin-left: 2.5%;
                    margin-top: 25px;
    
                    p {
                        margin-bottom: 10px;
                    }
    
                    .web-links {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        i {
                            margin-right: 0.5%;
                        }
                    }
                }
            }
    
            .web2 {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: self-start;
                flex-wrap: wrap-reverse;
                gap: 20px;
                width: 100%;
                padding-top: 75px;
                padding-bottom: 75px;
    
                margin-left: 5%;
                margin-right: 2.5%;
            }
        }
    }

    .contact-content, .about-content {
        height: 100vh;

        margin-left: 10%;
        margin-right: 10%;
        background-color: #E5E7F0;
        padding-bottom: 50px;
    }
    
}

@media (max-width: 1325px) {
    main {

        .web-content {
            .websites {
        
                .web-text {
                    width: 100%;
    
                    .web-redirec1 {
                        display: none;
                    }
                }
        
                .slideshow-elements {
    
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
        
                    width: 100%;
    
                    .slideshow-main {
    
                        width: 90%;
    
                        .desc {
                            margin-top: -5px;
                        }
        
                    }
    
                    .slideshow-images {
                        margin-top: 25px;
                        width: 90%;
                        gap: 10px;
                    }
    
                    .web-redirec2 {
                        display: flex;
                    }
        
                }
            }
        }
        
    }   
}